<% include ../../partials/head.ejs %>
<% include ../../partials/nav %>
<div class="row bg-grey">
    <div class="container">
        <div class="col-md-10 offset-md-2">
            <% include ../../partials/no-tabs %>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <% include ../../partials/sidebar %>

        <% console.log(gifts) %>

        <div class="col-md-10">
            <main>
                <% include ../../partials/dashboard/controller %>
                <h1>Here I am</h1>
            </main>
        </div>
    </div>
</div>
<% include ../../partials/contact %>
<% include ../../partials/footer %>
