<!--admin sidebar-->
<div class="col-md-2">
    <img src="https://s.gravatar.com/avatar/0a07df079fd7a07e4cd0e5668835296c?s=80" class="current-user">
    <p>
        <a href="/users/<%= currentUser._id %>/edit"><%= currentUser.firstName + ' ' + currentUser.lastName %></a>
        <%= currentUser.aliasFirstName + ' ' + currentUser.aliasLastName %>
    </p>
    <span>Admin View</span>
    <a href="/gifts/new" class="btn btn-primary">Create Gift</a>
    <ul class="nav bd-sidenav">
        <li class="bd-sidenav">Admins</li>
        <li class="bd-sidenav"><a href="/users">Members</a></li>
        <li class="bd-sidenav"><a href="/gifts">Gifts</a></li>
        <li class="bd-sidenav"><a href="/logout">Sign out</a></li>
    </ul>
</div>
<!--admin sidebar-->