<% if(error && error.length > 0){ %>
<div class="row">
  <div class="alert alert-danger" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <%= error %>
  </div>
</div>
<% } %>
<% if(success && success.length > 0){ %>
<div class="row">
  <div class="alert alert-success" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <%= success %>
  </div>
</div>
<% } %>

<div class="row">
  <div class="col-xs-12 noty-alerts"></div>
</div>

<script>

  window.modals = {};
  window.modals.notify = function(title, text, callback) {
    if(!callback) callback = function() {};
    $('#modal-notify').on('hide.bs.modal', callback);
    $('#modal-notify').find('.modal-title').text(title);
    $('#modal-notify').find('.modal-body>.message').text(text);
    $('#modal-notify').modal('show');
  }
</script>

<div class="modal fade" id="modal-notify" style="z-index:9999" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <p class="message"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->