<div class="breadcrumbs d-flex flex-items-md-middle">
    <span class="current-page text-md-right">
      <i class="icon fa fa-angle-right"></i>
      <%= breadcrumbsName %>
      <i class="icon fa fa-angle-right"></i>
     </span>
</div>
