<div class="contact-us">
  <div class="modal fade" id="contactUsModal" tabindex="-1" role="dialog" aria-labelledby="contactUsModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form action="/contact" method="POST">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="contactUsModalLabel">Contact Us</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="sender_email" class="form-control-label">Your Email:</label>
              <input type="email" class="form-control" id="sender_email" name="sender_email" required>
            </div>
            <div class="form-group">
              <label for="message_text" class="form-control-label">What's on your mind?</label>
              <textarea class="form-control" id="message_text" name="message_text" rows="6" required></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Send message</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>