<%# <script src="/bower_components/jquery/dist/jquery.min.js"></script>%>
<script src="/bower_components/jquery-ui/jquery-ui.min.js"></script>
<script src="/bower_components/tether/dist/js/tether.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/assets/js/search.js"></script>
<script src="/assets/js/custom.js"></script>
</body>
</html>
