<nav class="navbar">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/assets/img/logo_color.png" alt="Logo">
        </a>
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link admin" href="#">How does it work?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link admin" href="#" data-toggle="modal" data-target="#contactUsModal">Contact Us</a>
            </li>
        </ul>
        <ul class="nav navbar-nav float-md-right">
            <li class="nav-item">
                <a class="nav-link admin" href="/logout">Sign Out</a>
            </li>
        </ul>
    </div>
</nav>

<div class="row submenu">
    <div class="container pt-3">
        <div class="row">
            <% include ../partials/admin-sidebar %>
            <div class="col-md-2">
                <div class="breadcrumbs">
                    <span class="current-page text-md-right"> > GIFTS > </span>
                </div>
            </div>
            <div class="col-md-8">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link tab active" data-toggle="tab" href="#home" role="tab">Review</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link tab" data-toggle="tab" href="#accepted-redeemed" role="tab">Accepted</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link tab" data-toggle="tab" href="#accepted-not-redeemed" role="tab">Accepted</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link tab" data-toggle="tab" href="#declined" role="tab">Declined</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link tab" data-toggle="tab" href="#expired" role="tab">Expired</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link tab" data-toggle="tab" href="#pending" role="tab">Pending</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link tab" data-toggle="tab" href="#paid" role="tab">Paid</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>