<div class="submenu">
  <div class="row flex-items-md-between">
    <% include admin/breadcrumbs %>
    <div class="d-flex flex-items-md-middle">
      <% include admin/searchform %>
    </div>
  </div>
</div>
