<div class="submenu mb-2">
  <div class="row p-1 flex-items-md-between">
    <% include breadcrumbs %>
    <div class="d-flex flex-items-md-middle">
      <% include searchform %>
    </div>
  </div>
</div>
