<div class="submenu mb-2">
  <div class="row flex-items-md-between">
    <div class="col-md">
      <% include breadcrumbs %>
    </div>
    <div class="col-md-4 d-flex flex-items-md-middle">
      <% include searchform %>
    </div>
  </div>
</div>
