<% include ../../partials/head.ejs %>
<% include ../../partials/nav %>
<div class="row bg-grey">
    <div class="container">
        <div class="col-md-10 offset-md-2">
            <% include ../../partials/no-tabs %>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <% include ../../partials/sidebar %>
        <div class="col-md-10">
            <main>
              <% include ../../partials/dashboard/share-controller %>
                <div class="row bg-purple-light mb-1 p-1 share-messages">
                  <div class="col-xs-12 col-md-1 p-2">
                    <a href="#!"><i class="icon fa fa-edit"></i></a>
                  </div>
                  <div class="col-xs-12 col-md-7 p-2">
                    <h5 class="text-bold text-primary">It's my birthday</h5>
                    <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta eius impedit error eligendi, blanditiis quos harum recusandae doloribus quam, deserunt illum obcaecati, ducimus laborum.</p>
                  </div>
                  <div class="col-xs-6 col-md-2 p-2">
                    <a href="#" class="social-link">
                      <i class="icon fa fa-facebook"></i>
                      <span class="facebook">Share</span>
                    </a>
                  </div>
                  <div class="col-xs-6 col-md-2 p-2">
                    <a href="#" class="social-link">
                      <i class="icon fa fa-twitter"></i>
                      <span class="twitter">Tweet</span>
                    </a>
                  </div>
                </div>
            </main>
        </div>
    </div>
</div>
<% include ../../partials/contact %>
<% include ../../partials/newmessage %>
<% include ../../partials/footer %>
