<% include ../../partials/head.ejs %>
<% include ../../partials/nav %>
<div class="row bg-grey">
  <div class="container">
    <div class="col-md-10 offset-md-2">
      <% include ../../partials/no-tabs %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <% include ../../partials/sidebar %>
    <div class="col-md-10">
      <main>
        <div class="row bg-purple-light mt-2 mb-1 p-1 share-messages">
          <div class="col-xs-12 col-md-8 p-2">
            <h5 class="text-bold text-primary">It's my birthday</h5>
            <p class="m-0">Send me a gift card and I’ll send you a picture! Go to mgexps.com and send a gift card
              to <%= currentUser.aliasFirstName + ' ' + currentUser.aliasLastName %> at 877-949-GIFT</p>
          </div>
          <div class="col-xs-6 col-md-2 p-2">
            <a href="#" class="social-link">
              <i class="icon fa fa-facebook"></i>
              <span class="facebook">Share</span>
            </a>
          </div>
          <div class="col-xs-6 col-md-2 p-2">
            <a href="#" class="social-link">
              <i class="icon fa fa-twitter"></i>
              <span class="twitter">Tweet</span>
            </a>
          </div>
        </div>
        <div class="row bg-purple-light mt-2 mb-1 p-1 share-messages">
          <div class="col-xs-12 col-md-8 p-2">
            <h5 class="text-bold text-primary">It's my birthday</h5>
            <p class="m-0">It’s my Birthday! Send me a gift card from mgexps.com
              to <%= currentUser.aliasFirstName + ' ' + currentUser.aliasLastName %> at 877-949-GIFT. And then, I’ll
              send you a surprise!</p>
          </div>
          <div class="col-xs-6 col-md-2 p-2">
            <a href="#" class="social-link">
              <i class="icon fa fa-facebook"></i>
              <span class="facebook">Share</span>
            </a>
          </div>
          <div class="col-xs-6 col-md-2 p-2">
            <a href="#" class="social-link">
              <i class="icon fa fa-twitter"></i>
              <span class="twitter">Tweet</span>
            </a>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
<% include ../../partials/contact %>
<% include ../../partials/newmessage %>
<% include ../../partials/footer %>
