<% layout('layouts/master') -%>

<div class="row bg-grey">
  <div class="container">
    <div class="col-md-10 offset-md-2 no-mobile">
      <% include ../../partials/no-tabs %>
    </div>
  </div>
</div>
<div class="container m-full-width">
  <div class="row">
    <% include ../../partials/sidebar %>
    <div class="col-xs-12 bg-grey just-mobile">
      <% include ../../partials/no-tabs %>
    </div>
    <div class="col-md-10">
      <main>
        <div class="row bg-purple-light mt-2 mb-1 p-1 share-messages">
          <div class="col-xs-12 col-md-8 p-2">
            <h5 class="text-bold text-primary">It's my birthday</h5>
            <p class="m-0" id="shareMessage">Send me a gift card and I’ll send you a picture! Go to mgexps.com and send a gift card to <%= currentUser.aliasFullName %> at 877-949-GIFT</p>
          </div>
          <div class="col-xs-6 col-md-2 p-2">
            <a href="#" class="social-link" id="shareFacebook">
              <i class="icon fa fa-facebook"></i>
              <span class="facebook">Share</span>
            </a>
          </div>
          <div class="col-xs-6 col-md-2 p-2">
            <a target="_blank" href="#" class="social-link" id="newTweet">
              <i class="icon fa fa-twitter"></i>
              <span class="twitter">Tweet</span>
            </a>
          </div>
        </div>
        <div class="row bg-purple-light mt-2 mb-1 p-1 share-messages">
          <div class="col-xs-12 col-md-8 p-2">
            <h5 class="text-bold text-primary">It's my birthday</h5>
            <p class="m-0" id="shareMessage">It’s my Birthday! Send me a gift card from mgexps.com to <%= currentUser.aliasFullName %> at 877-949-GIFT. And then, I’ll send you a surprise!</p>
          </div>
          <div class="col-xs-6 col-md-2 p-2">
            <a href="#" class="social-link">
              <i class="icon fa fa-facebook"></i>
              <span class="facebook">Share</span>
            </a>
          </div>
          <div class="col-xs-6 col-md-2 p-2">
            <a target="_blank" href="#" class="social-link" id="newTweet">
              <i class="icon fa fa-twitter"></i>
              <span class="twitter">Tweet</span>
            </a>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>

<!--SDK Facebook-->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1787352534919699',
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<% include ../../partials/newmessage %>

