<div class="row mt-1 mb-1 p-1 flex-items-md-between flex-items-md-middle">
    <div class="mr-1">
        <span class="checkbox d-inline-flex flex-items-md-middle"><input type="checkbox" id="checkAll"> <span>Select All</span></span>
    </div>
    <div class="mr-1">
        <div class="btn-group pl-1">
            <button type="button" class="btn btn-outline-primary btn-sm">
                <span><i class="icon fa fa-file-excel-o"></i></span>
                Withdraw
            </button>
        </div>
    </div>
    <div class="col-md-2">
        <span>Current Balance: </span> <span>$800</span>
    </div>
</div>
