<div class="row mt-1 mb-1 p-1 flex-items-md-between flex-items-md-middle">
    <div class="mr-1">
        <span class="checkbox d-inline-flex flex-items-md-middle"><input type="checkbox" id="checkAll"> <span>Select All</span></span>
    </div>
</div>
