<div class="row mt-1 mb-1 p-1 flex-items-md-between">
  <div class="col-xs-12 col-md-2 offset-md-10">
    <a class="btn btn-primary btn-sm d-block mt-1 full-width" href="#" data-toggle="modal" data-target="#newMessageModal">New message</a>
  </div>
</div>
