<% layout('layouts/master') -%>

<div class="container">
  <form action="/forgot-password" method="post">
    <div class="row">
      <div class="col-md-5 offset-md-3 p-2">
        <h1>Forgot Account</h1>
        <hr>
        <div class="form-group row mb-2">
          <label for="email" class="col-form-label d-block">Email</label>
          <input class="form-control" type="email" name="email" placeholder="Your Email" id="email" required>
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
      </div>
    </div>
  </form>
</div>

