<% layout('layouts/master') -%>

<div class="row bg-grey">
  <div class="container">
    <div class="col-md-10 offset-md-2">
      <% include ./partials/no-tabs %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <% include ./partials/sidebar %>
    <div class="offset-md-1 col-md-6 pt-2">
      <h1>How it works</h1>
      <hr>

      <h4>WHAT</h4>

      <p>We make it simple.</p>

      <p>GiftCashing.com is your little secret.</p>

      <p>Your information, this service, and how and when you receive gifts is private and secure.</p>

      <p>We make your requests and shares simple – your friends will be directed to our gift site at SendGiftHere.com.</p>

      <h4>HOW</h4>

      <p>Tell all your friends and admirers to send you a gift to your Alias on our site – SendGiftHere.com. All they need
      to do is select a category, amount and your Alias when checking out. We make it easy for them.</p>

      <p>Or use our social media templates to share gift requests or send your own, all from our site.</p>

      <h4>WHEN</h4>

      <p>When your gift comes through, you'll receive an email notification. Access your online account to view your online
      gift. Then, either Accept or Decline your gift. That's it!</p>

      <h4>WHERE</h4>

      <p>Make sure you have your preferred payment option and details. If you haven't done so, access your online account
      and update this information within your payment details.</p>

      <p>And than, when it's time to get your money, you'll either receive a check or a deposit to your PayPal Account every Friday.</p>

      <p>Prefer a gift, send us an email and we'll make than purchase.</p>

    </div>
  </div>
</div>

