<% include ./partials/head %>
<% include ./partials/home-nav %>

    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <h1 class="proposal mb-2">Receiving too many gifts and rather have cash?</h1>
                    <p class="lead mb-2">Have your Sender purchase gifts at our Affiliates and we will pay you cash for the Gift. It’s that simple.</p>
                    <div class="row">
                        <div class="col-md-1 offset-md-3 mt-3">
                            <a class="btn btn-outline-secondary btn-lg" href="/register" role="button">Register for free and find out more!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row center-row">
            <h4 class="mb-3 text-question">How it works?</h4>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p class="text-md-center">
                    <img src="/assets/img/gift.svg">
                </p>
                <h2 class="text-xs-center heading">Notify</h2>
                <p class="text-xs-center">Give Senders Information</p>
            </div>
            <div class="col-md-4">
                <p class="text-md-center">
                    <img src="/assets/img/receive.svg" alt="">
                </p>
                <h2 class="text-md-center heading">Receive</h2>
                <p class="text-md-center">Get Notified a Gift was Received</p>
            </div>
            <div class="col-md-4">
                <p class="text-md-center">
                    <img src="/assets/img/gift.svg">
                </p>
                <h2 class="text-md-center heading">$$$</h2>
                <p class="text-md-center">Receive Your Money!!!</p>
            </div>
        </div>

    </div> <!-- /container -->

    <footer class="footer pt-2 mb-2">
        <div class="container">
            <div class="row center-row">
                <div class="col-md-2">
                    <p class="text-md-right contact">Contact Us</p>
                    <a href="mailto:support@giftcashing.com" class="footer-email">support@giftcashing.com</a>
                </div>
                <div class="col-md-3">
                    <address class="text-muted">
                        GiftCashing<br>
                        3422 SW 15th Street<br>
                        Deerfield Beach, FL  33342<br>
                    </address>
                </div>
            </div>
        </div>
    </footer>

<% include partials/contact %>
<% include partials/footer %>