<% include ./partials/head %>
<% include ./partials/home-nav %>

<div class="container">

    <form action="/register" method="post">

        <div class="row">
            <div class="col-md-7 offset-md-2 p-2">
                <h1>Register for a new account</h1>
                <hr>
                <div class="form-group row mb-2">
                  <div class="col-md-6">
                    <label for="firstName" class="d-block col-form-label">First Name</label>
                    <input class="form-control" type="text" name="firstName" placeholder="First Name" for="firstName">
                  </div>
                  <div class="col-md-6">
                    <label for="lastName" class="d-block col-form-label">Last Name</label>
                    <input class="form-control" type="text" name="lastName" placeholder="Last Name" for="lastName">
                </div>
                </div>


                <div class="form-group row mb-2">
                  <div class="col-md-6">
                    <label for="aliasFirstName" class="d-block col-form-label">Alias First Name</label>
                    <input class="form-control" type="text" name="aliasFirstName" placeholder="Alias First Name" for="aliasFirstName">
                  </div>
                  <div class="col-md-6">
                    <label for="aliasLastName" class="d-block col-form-label">Alias First Name</label>
                    <input class="form-control" type="text" name="aliasLastName" placeholder="Alias Last Name" for="aliasLastName">
                  </div>
                </div>

                <div class="form-group row mb-2">
                  <div class="col-md-6">
                    <label for="email" class="d-block col-form-label">Email</label>
                    <input class="form-control" type="email" name="username" placeholder="Your Email" id="email">
                  </div>
                  <div class="col-md-6">
                    <label for="password" class="d-block col-form-label">Password</label>
                    <input class="form-control" name="password" type="password" placeholder="Your Password" id="password">
                  </div>
                </div>

                <button type="submit" class="btn btn-primary text-center margin-center d-block">Sign Up Now!</button>
            </div>
        </div>

    </form>

</div>

<% include partials/contact %>
<% include ./partials/footer %>
