.navbar {
  box-shadow: 0 10px 20px rgba($grey, 0.1);
  margin-bottom: -2px;
  .toggle-nav{
    display: none;
    padding: 16px;
  }
  ul {
    display: block;

    li {

    }
  }
}
@media (max-width: 768px){
  .navbar {

    .toggle-nav{
      display: block;

    }
    .container {
      margin: 0;
      display: table;
      padding: 0;
      width: 100%;
    }
    ul {
      display: none;

      &.show {
        display: block;
      }
      li {
        float: none;
        display: block;
        width: 100%;
        margin-left: 0 !important;

        a{
          padding: 16px 0 !important;
        }

      }
    }
  }

}

.sidebar {
  margin-top: 30px;
  .nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .nav__item {
    a {
      display: block;
      padding: 8px 20px;
      text-transform: uppercase;
      color: $dark-grey;
    }

    &.current {
      a {
        color: $purple;
        font-weight: bold;
      }
    }
  }

  @media (max-width: 768px){
    margin-top: 0;

    .nav__item {
      a {
        padding: 8px 0;
      }
    }
  }
}

.nav-tabs-rounded {
  border: 1px solid $purple;
  overflow: hidden;
  border-radius: 8px;
  display: inline-block;

  .nav-link {
    border-radius: 0;
    border: 0;
    line-height: 1;
    padding: 8px 22px;
    font-size: 18px;
    &.active:hover, &.active:focus {
      background: $purple;
      color: white;
      border-radius: 0;
      font-weight: 300;
    }

  }

  .nav-link.active {
    background: $purple;
    color: white;
    font-weight: 300;

  }
}
