.chip-user {

  &__img {
    width: 60px;
    height: 60px;

    img {
      width: 100%;
      display: block;
    }
  }

  &__name {

    .real-name {
      font-size: 18px;
    }

    .alias-name {
      font-size: 16px;
    }
  }
}

.current-user {
  align-items: center;
  &__img {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;

    img {
      width: 120px;
      height: 120px;
    }
  }

  &__name {
    font-size: 22px;
  }

  &__role {
    display: inline-block;
    font-size: 16px;
    margin-bottom: 30px;
  }

  @media (max-width: 768px){
    padding-top: 2rem;
    padding-bottom: 2rem;
    &.t-center {
      text-align: left;
    }

    &__img {
      img {
        width: 40px;
        height: 40px;
      }
    }

    &__name {
      font-size: 18px;
    }

    &__role {
      margin-bottom: 1rem;
    }
  }
}
