.img {
  &-circle {
    border-radius: 100%;
  }
}

.t-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

.text {
  &-primary {
    color: $purple !important;
  }

  &-bold {
    font-weight: 500;
  }

  &-light {
    font-weight: 300;
  }
}

.bg-grey {
  background-color: #EDEDED;
}

.bg-white {
  background-color: white;
}

.bg-purple-light {
  background-color: $purple-light;
}
.text-primary {
  color: $purple;
}

.margin-center {
  margin: 0 auto;
}
.full-width {
  width: 100%;
}
