.img {
  &-circle {
    border-radius: 100%;
  }
}

.t-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

.text {
  &-primary {
    color: $purple !important;
  }

  &-bold {
    font-weight: 500;
  }

  &-light {
    font-weight: 300;
  }
}

.bg-grey {
  background-color: #EDEDED;
}

.bg-white {
  background-color: white;
}

.bg-purple-light {
  background-color: $purple-light;
}
.text-primary {
  color: $purple;
}

.margin-center {
  margin: 0 auto;
}
.full-width {
  width: 100%;
}

.no-mobile {
  display: block;
  @media (max-width: 767px){
    display: none;
  }
}

.just-mobile {
  display: none;
  @media (max-width: 767px){
    display: block;
  }
}

.form-inline {
  width: 100%;
  padding: 1rem 0;
}

@media (max-width: 767px){
  .m-full-width {
    width: 100%;
  }
}
@media (max-width: 600px){
    .table th {
        display: none;
    }
    .table tr td {
        display: block;
    }
    .table tr td:before {
        content: attr(data-label);
        color: black;
        display: block;
        font-weight: normal;
        margin-bottom: 4px;
    }
}
