<% include ../../partials/head %>
<% include ../../partials/nav %>
<div class="row bg-grey">
  <div class="container">
    <div class="col-md-10 offset-md-2">
      <% include ../../partials/no-tabs %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <% include ../../partials/sidebar %>
    <div class="offset-md-1 col-md-6 pt-2">
          <form action="/admin/gifts/" method="POST">
              <div class="row">
                  <div class="col-sm-12">
                      <div class="form-group">
                          <label for="username">For</label>
                          <input type="text" class="form-control" name="user" id="userSearch" placeholder="Search">
                      </div>
                  </div>
              </div>

              <div class="row">
                  <div class="col-sm-6 form-group">
                      <label for="giftNumber">Gift #</label>
                      <input type="text" class="form-control" name="giftNumber" id="giftNumber" placeholder="3456789">
                  </div>
                  <div class="col-sm-6 form-group">
                      <label for="date">Date</label>
                      <input type="text" class="form-control" name="date" id="createGiftDate"
                             data-date-format='mm-dd-yy'>
                  </div>
              </div>

              <div class="row">
                  <div class="col-sm-6 form-group">
                      <label for="giftDescription">Gift Description</label>
                      <input type="text" class="form-control" name="giftDescription" id="giftDescription"
                             placeholder="Amazon">
                  </div>
                  <div class="col-sm-6 form-group">
                      <label for="giftAmount">Gift Amount</label>
                      <input type="number" class="form-control" name="giftAmount" id="giftAmount"
                             placeholder="Gift Amount">
                  </div>
              </div>

              <div class="row">
                  <div class="col-sm-4 form-group">
                      <label for="giftCode">Gift Code</label>
                      <input type="text" class="form-control" name="giftCode" id="giftCode" placeholder="Gift Code">
                  </div>
                  <div class="col-sm-4 form-group">
                      <label for="redeemCode">Redeem Code</label>
                      <input type="text" class="form-control" name="redeemCode" id="redeemCode"
                             placeholder="Redeem Code">
                  </div>
                  <div class="col-sm-4 form-group">
                      <label for="passCode">Passcode</label>
                      <input type="text" class="form-control" name="passCode" id="passCode"
                             placeholder="Passcode">
                  </div>
              </div>

              <div class="row">
                  <div class="col-sm-6 form-group">
                      <label for="senderFirstName">Sender First Name</label>
                      <input type="text" class="form-control" name="senderFirstName" id="senderFirstName"
                             placeholder="Senders first name">
                  </div>
                  <div class="col-sm-6 form-group">
                      <label for="senderLastName">Sender Last Name</label>
                      <input type="text" class="form-control" name="senderLastName" id="senderLastName"
                             placeholder="Senders last name">
                  </div>
              </div>

              <div class="row">
                  <div class="col-sm-12 form-group">
                      <label for="giftMessage">Gift Message</label>
                      <textarea class="form-control" name="giftMessage" id="giftMessage" rows="3"
                                placeholder="What was the message that was recieved with this gift"></textarea>
                  </div>
              </div>

              <div class="row">
                  <div class="form-group t-center p-2">
                      <button class="btn btn-lg btn-default btn-primary">Create gift!</button>
                  </div>
              </div>
          </form>
      </div>
    </div>
</div>

<% include ../../partials/contact %>
<% include ../../partials/footer %>
