<% layout('layouts/master') -%>

<div class="row bg-grey">
  <div class="container">
    <div class="col-md-10 offset-md-2 no-mobile">
      <% include ../../partials/no-tabs %>
    </div>
  </div>
</div>
<div class="container m-full-width">
  <div class="row">
    <% include ../../partials/sidebar %>
    <div class="col-xs-12 bg-grey just-mobile">
      <% include ../../partials/no-tabs %>
    </div>
    <div class="col-md-10">
      <main>
        <div class="container empty-state">
          <i class="icon fa fa-gift"></i>
          <h1>The gift has been sent.</h1>
        </div>
      </main>
    </div>
  </div>
</div>

