<% include ../../partials/head.ejs %>
<% include ../../partials/nav %>
<div class="row bg-grey">
    <div class="container">
        <div class="col-md-10 offset-md-2">
            <% include ../../partials/no-tabs %>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <% include ../../partials/sidebar %>
        <div class="col-md-10">

            <main>
                <h1>Order Created</h1>
            </main>
        </div>
    </div>
</div>
<% include ../../partials/contact %>
<% include ../../partials/footer %>
