<% include ../../partials/head.ejs %>
<% include ../../partials/nav %>
<div class="row bg-grey">
    <div class="container">
        <div class="col-md-10 offset-md-2">
            <% include ../../partials/no-tabs %>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <% include ../../partials/sidebar %>
        <div class="col-md-10">

            <main>
              <div class="container empty-state">
                <i class="icon fa fa-gift"></i>
                <h1>A new gift has been added in the sidebar´s menu!</h1>
              </div>
            </main>
        </div>
    </div>
</div>
<% include ../../partials/contact %>
<% include ../../partials/footer %>
