<% include ../../partials/head %>
<% include ../../partials/nav %>
<div class="row bg-grey">
  <div class="container">
    <div class="col-md-10 offset-md-2">
      <% include ../../partials/no-tabs %>
    </div>
  </div>
</div>
<div class="container">
    <div class="row">
      <% include ../../partials/sidebar %>
        <div class="col-md-10">
          <main>
            <% include ../../partials/admin/user-controller %>
              <table class="table">
                <thead class="thead-inverse">
                <tr>
                    <th></th>
                    <th>User</th>
                    <th>Total Gifts</th>
                    <th>Last Login</th>
                    <th>Total Amount</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <% if(!users || users.length < 1) { %>
                <tr>
                    <td>
                        <h1>No users were found based on that query</h1>
                    </td>
                </tr>
                <% } %>
                <% users.forEach(function (user) { %>
                <tr>
                  <td><input type="checkbox" class="check"></td>
                  <td>
                    <div class="chip-user d-flex flex-items-md-middle">
                      <div class="chip-user__img mr-1">
                        <img src="https://s.gravatar.com/avatar/0a07df079fd7a07e4cd0e5668835296c?s=80" alt="" class="img-circle">
                      </div>
                      <div class="chip-user__name">
                        <span class="real-name d-block"><%= user.firstName + ' ' + user.lastName %></span>
                        <span class="alias-name d-block"><%= user.aliasFirstName + ' ' + user.aliasLastName %></span>
                      </div>
                    </div>
                  </td>
                  <td class="text-primary text-bold">14 Gifts</td>
                  <td><%= user.lastLoginDate.toLocaleDateString() %></td>
                  <td class="text-primary text-bold">$4000</td>
                  <td><a href="#!" class="text-bold">View Gifts</a></td>
                </tr>
                <% }) %>
                </tbody>
            </table>
          </main>
        </div>
    </div>
</div>

<% include ../../partials/contact %>
<% include ../../partials/footer %>
