<% include ../partials/head.ejs %>
<% include ../partials/header %>

<div class="container">
    <div class="row">
        <% include ../partials/admin-sidebar.ejs %>
        <h1>All Users</h1>
    </div>
</div>

<% users.forEach(function (user) { %>
    <a href="/users/<%= user._id %>/edit"><%= user.firstName %></a>
<% }); %>

<% include ../partials/contact %>
<% include ../partials/footer %>