<% include ../partials/head.ejs %>
<% include ../partials/header %>

<div class="container">
    <% include ../partials/admin-sidebar %>

</div>

<% include ../partials/contact %>
<% include ../partials/footer %>