<% include ../partials/head.ejs %>
<% include ../partials/admin-nav %>
<div class="row bg-grey">
  <div class="container">
    <div class="col-md-10 offset-md-2">
      <% include ../partials/user-profile-tabs %>
    </div>
  </div>
</div>
<div class="container">
    <div class="row">
      <% include ../partials/admin-sidebar %>
      <div class="col-md-10 pt-2">
        <em>Edit</em> <a href="/users/<%= user._id %>/edit"><%= user.firstName %></a>
      </div>
    </div>
</div>

<% include ../partials/contact %>
<% include ../partials/footer %>
