<div class="row mt-1 mb-1 p-1 flex-items-md-between">
  <div class="mr-1">
    <form id="goForm" action="/admin/gifts/?_method=PUT" method="POST">
            <span class="checkbox d-inline-flex flex-items-md-middle">
                <input type="checkbox" id="checkAll" onchange="selectedAllGifts()"> <span>Select All</span>
            </span>
      <div class="btn-group pl-1">
        <button id="bulkActions" type="button" class="btn btn-secondary btn-sm
                dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Bulk Actions
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#" onclick="updateStatusType('accepted')">
            <i class="fa fa-check" aria-hidden="true"></i> Accept
          </a>
          <a class="dropdown-item" href="#" onclick="updateStatusType('declined')">
            <i class="fa fa-ban" aria-hidden="true"></i> Decline
          </a>
          <a class="dropdown-item" href="#" onclick="updateStatusType('paid')">
            <i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Paid
          </a>
          <a class="dropdown-item" href="#" onclick="actionExcel();">
            <i class="fa fa-file-excel-o" aria-hidden="true"></i> Export to Excel
          </a>
          <a class="dropdown-item" href="#"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a>
        </div>
        <button type="submit" class="ml-2 btn btn-sm btn-outline-primary">GO</button>
      </div>
    </form>
  </div>
  <div class="mr-1">
    <% if(pagination) { %>
    <span><em>Showing <%#= pagination.showing %> <%= pagination.records %> Result(s).</em></span>
    <% } %>
  </div>
  <div class="filter">
    <span class="mr-1">Search By: </span>
    <div class="input-group input-group-sm datepicker d-inline-flex">
      <span class="input-group-addon"><i class="fa fa-calendar-o"></i></span>
      <input type="text" class="form-control" id="datefrom" placeholder="Date from...">
    </div>
    <div class="input-group input-group-sm datepicker d-inline-flex">
      <span class="input-group-addon"><i class="fa fa-calendar-o"></i></span>
      <input type="text" class="form-control" id="dateto" placeholder="Date to...">
    </div>
    <button type="button" class="btn btn-sm btn-primary"><i class="icon fa fa-search"></i></button>
  </div>
</div>


<script>
  $(function(){
    $(".dropdown-menu").on('click', 'a', function(){
      $("#bulkActions:first-child").text($(this).text());
      $("#bulkActions:first-child").val($(this).text());
    });
  });
</script>