<form action="/admin/users" method="GET" class="form-inline">
    <div class="form-group">
        <input type="text" name="search" class="form-control" placeholder="Search" id="search-input">
    </div>
</form>
