// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.
$enable-flex: true;

$purple: #8E44AD;
$purple-light: #F6F4FB;
$grey: #6B6B6B;
$dark-grey: #4A4A4A;
$white: #ffffff;
