.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 1rem;
    color: #373a3c;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

span.twitter-typeahead {
    .tt-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        font-size: 1rem;
        color: #373a3c;
        text-align: left;
        list-style: none;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 0.25rem;
    }
    .tt-suggestion {
        display: block;
        width: 100%;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.5;
        color: #373a3c;
        text-align: inherit;
        white-space: nowrap;
        background: none;
        border: 0;
        &:focus {
            color: #2b2d2f;
            text-decoration: none;
            background-color: #f5f5f5;
        }
    }
}

.dropdown-item:hover {
    color: #2b2d2f;
    text-decoration: none;
    background-color: #f5f5f5;
}

span.twitter-typeahead {
    .tt-suggestion:hover {
        color: #2b2d2f;
        text-decoration: none;
        background-color: #f5f5f5;
    }
    .active.tt-suggestion, .tt-suggestion.tt-cursor, .active.tt-suggestion:focus, .tt-suggestion.tt-cursor:focus, .active.tt-suggestion:hover, .tt-suggestion.tt-cursor:hover {
        color: #fff;
        text-decoration: none;
        background-color: #0275d8;
        outline: 0;
    }
    .disabled.tt-suggestion {
        color: #818a91;
        &:focus, &:hover {
            color: #818a91;
        }
        &:focus, &:hover {
            text-decoration: none;
            cursor: not-allowed;
            background-color: transparent;
            background-image: none;
            filter: "progid:DXImageTransform.Microsoft.gradient(enabled = false)";
        }
    }
    width: 100%;
}

.input-group span.twitter-typeahead {
    display: block !important;
    .tt-menu {
        top: 2.375rem !important;
    }
}