@import "custom";
@import "bootstrap";
@import "font-awesome";


body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

a {
  color: $purple;

  &:hover {
    color: $purple;
  }
}

.navbar-static-top {
  background-color: $purple;
  border-radius: 0;
  a {
    color: $white;
  }
}

a.nav-link {
  padding: 1em;
  line-height: 45px;
  font-size: 20px;
}

.jumbotron {
  min-height: 360px;
  background-image: url(/assets/img/hero.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.btn {
  text-transform: uppercase;
  white-space: normal;
}
.btn.btn-outline-secondary.btn-lg {
  color: $white;
}
.btn-outline-secondary {
  color: $white;

  &:hover {
    background-color: rgba(white,0.1);
  }
}

.btn-outline-primary {
  color: $purple;
  border-color: $purple;
  background-color: $purple-light;
  border-radius: 4px !important;

  &:hover {
    background-color: $purple;
    border-color: $purple;
    color: white;
  }
}

.proposal {
  font-weight: lighter;
  font-size: 38px;
  color: $white;
}

.lead {
  font-size: 21px;
  line-height: 1.25;
  color: $white;
}

a.btn.btn-outline-secondary.btn-lg {
  font-weight: 300;
}

.row.center-row {
  display: flex;
  justify-content: center;
}

.text-question {
  color: $purple;
  font-size: 42px;
  font-weight: 300;
}

.heading {
  color: $purple;
  font-weight: 300;
  font-size: 30px;
}

.footer {
  flex: 0 0 auto;
}

.d-table {
  display: table;
}

address {
  border-left: 2px solid $grey;
  padding-left: 15px;
  color: #9A9A9A;
}

p.text-md-right.contact {
  font-size: 22px;
  color: #9A9A9A;
  margin-bottom: 10px;
}

a {
  &.footer-email {
    color: $purple;
    font-size: 16px;
  }
  &.nav-link.admin {
    font-size: 18px;
    color: $dark-grey;
  }
}

.submenu {
  padding: 32px 0 0 0;
}

.nav-tabs {
  border-bottom: 0
}

.nav-tabs .nav-item + .nav-item {
  margin: 0;
}
a.nav-link.tab {
  color: $grey;
  font-size: 14px;
  font-weight: 400;
  padding: 16px 10px;
  line-height: 1;
  display: block;
}

.nav-tabs {
  .nav-item.open .nav-link {
    color: $grey;
    &:focus, &:hover {
      color: $grey;
    }
  }
  .nav-link.active {
    color: $purple;
    font-weight: 400;
    &:focus, &:hover {
      color: $purple;
    }
  }
}

.btn.btn-primary {
  background-color: $purple;
  border-color: $purple;
  transition: 0.2s all ease-in;

  &:hover {
    background-color: darken($purple, 10%);
  }
}

img {
  &.current-user {
    border-radius: 50%;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 142px;
    height: 140px;
  }
  &.table-user {
    border-radius: 50%;
    width: 80px;
    height: 80px;
  }
}

span.real-name {
  color: $dark-grey;
  font-size: 20px;
  font-weight: 400;
}

tr.row {
  height: 121px;
  background-color: #F6F4FB;
}

.table {
  td, th {
    vertical-align: middle;
  }

  tr {
    background-color: $purple-light;
    border-bottom: 4px solid white;
    th {
      font-weight: 300;
      color: $dark-grey;
      background-color: $purple-light;
    }
  }
}

.breadcrumbs {
  font-weight: 500;
  color: $grey;
  letter-spacing: 1.1px;
  font-size: 22px;
  min-height: 48px;
}

.form-group {
  margin: 0;
  width: 100%;
}

.dropdown-item {
  padding: 8px 16px;

  i.fa {
    margin-right: 10px;
  }

}

.checkbox {
  input {
    margin-right: 8px;
  }
}

.datepicker {
  width: 150px;

  .input-group-addon {
    background-color: white;
  }

  .form-control{
    border-left-color: transparent;
  }
}

.admin-sidebar {
  margin-top: -60px;
}

.alert {
  margin: 0;
  width: 100%;
  border-radius: 0;
  padding: 20px;
  text-align: center;
}

//Components
@import "components/user";
@import "components/nav";
@import "components/basics";
@import "components/emptystate";
@import "components/specific-gift";

.gift-list-content-by-user tr:first-child .user-gift:first-child {
    visibility:visible;
}

td.user-gift {
    visibility: hidden;
}

.gift-received, .share-messages {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
  border-radius: 4px;
}

.share-messages {
  display: flex;
  align-items: center;
}

.social-link {
  display: block;
  text-align: center;
  opacity: 0.8;
  transition: 0.2s all ease-in;

  i {
    margin: 0 auto;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: $purple;
    margin-bottom: 8px;

    &.fa-twitter {
      background-color: #1da1f2;
    }

    &.fa-facebook {
      background-color: #3b5998;
    }
  }
  span {
    &.twitter {
      color: #1da1f2;
    }
    &.facebook {
      color: #3b5998;
    }
  }

  &:hover {
    text-decoration: none;
    opacity: 1;
  }
}

.link-actions a {
    color: $grey;
    font-size: 24px;
    margin: 0 10px;

    &:hover {
      color: $purple;
    }
}
