<% include ../partials/head %>
<% include ../partials/header %>

<div class="container">
    <div class="row">
    <% include ../partials/admin-sidebar %>

        <div class="col-md-10 mt-1">
            <table class="table">
                <thead class="thead-inverse">
                <tr>
                    <th></th>
                    <th>User</th>
                    <th>Gift Description</th>
                    <th>Order</th>
                    <th>Date</th>
                    <th>Payment</th>
                </tr>
                </thead>
                <tbody>
                <tr class="row">
                    <td><input type="checkbox"></td>
                    <td>
                        <div class="row">
                            <div class="col-md-3">
                                <img src="<%= user.image %>" class="table-user">
                            </div>
                            <div class="col-md-9">
                                <span class="real-name pl-1"><%= user.name %></span>
                                <p class="persona pl-1"><%= user.name %></p>
                            </div>
                        </div>
                    </td>
                    <td>Amazon</td>
                    <td>#32423</td>
                    <td>11/28/2016</td>
                    <td>
                        <i class="fa fa-cc-paypal"></i>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<% include ../partials/contact %>
<% include ../partials/footer %>