<% include ../partials/head %>
<% include ../partials/admin-nav %>
<div class="row bg-grey">
  <div class="container">
    <div class="col-md-10 offset-md-2">
      <% include ../partials/admin-action-tabs %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <% include ../partials/admin-sidebar %>
    <div class="col-md-10">

      <main>
        <% include ../partials/gift-controller %>
        <table class="table">
            <thead class="thead-inverse">
            <tr>
                <th></th>
                <th>User</th>
                <th>Gift Description</th>
                <th>Order</th>
                <th>Date</th>
                <th>Payment</th>
            </tr>
            </thead>
            <tbody>
            <% users.forEach(function (user) { %>
                <tr>
                    <td><input type="checkbox" class="check"></td>
                    <td>
                      <div class="chip-user d-flex flex-items-md-middle">
                        <div class="chip-user__img mr-1">
                          <img src="https://s.gravatar.com/avatar/0a07df079fd7a07e4cd0e5668835296c?s=80" alt="" class="img-circle">
                        </div>
                        <div class="chip-user__name">
                          <span class="real-name d-block"><%= user.firstName + ' ' + user.lastName %></span>
                          <span class="alias-name d-block"><%= user.aliasFirstName + ' ' + user.aliasLastName %></span>
                        </div>
                      </div>
                    </td>
                    <td class="text-primary text-bold">Amazon</td>
                    <td class="text-primary text-bold">#32423</td>
                    <td>11/28/2016</td>
                    <% if (user.preferredPaymentMethod === 'paypal') { %>
                        <td><i class="fa fa-cc-paypal"></i></td>
                    <% } else if (user.preferredPaymentMethod === 'check') { %>
                        <td><i class="fa fa-bank text-primary"> </i></td>
                    <% } else if (user.preferredPaymentMethod === 'deposit') { %>
                        <td><i class="fa fa-dollar text-primary"> </i></td>
                    <% } else { %>
                        <td><i class="fa fa-ban text-primary"> </i></td>
                    <% }  %>
                </tr>
            <% }) %>
            </tbody>
        </table>
      </main>
    </div>
  </div>
</div>
<% include ../partials/contact %>
<% include ../partials/footer %>
