<% include ../partials/head %>
<% include ../partials/admin-nav %>
<% include ../partials/admin-action-tabs %>

<div class="container">
    <div class="row">
        <div class="offset-md-2 col-md-10 mt-1">

            <table class="table">
                <thead class="thead-inverse">
                <tr>
                    <th></th>
                    <th>User</th>
                    <th>Gift Description</th>
                    <th>Order</th>
                    <th>Date</th>
                    <th>Payment</th>
                </tr>
                </thead>
                <tbody>
                <% users.forEach(function (user) { %>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td><span class="real-name pl-1"><%= user.firstName + ' ' + user.lastName %></span></td>
                        <td>Amazon</td>
                        <td>#32423</td>
                        <td>11/28/2016</td>
                        <td><i class="fa fa-cc-paypal"></i></td>
                    </tr>
                <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<% include ../partials/contact %>
<% include ../partials/footer %>